
@{
    ViewBag.Title = "Hakkimizda";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="col-md-10">
    <div class="blog">
        <hr />
        <img src="~/Photos/hakkimizda.jpg" height="300" width="600" />

        
            <br />
            <hr />
            SosyalSorumluluk.org sitesi ülkemizde gerçekleştirilen sosyal sorumluluk projelerinin tanıtılması ve daha fazla kişiye ulaşarak bilinirliğinin arttırılmasını, çalışma yapan birey ve kuruluşların emeklerini teşvik ederek daha fazla proje yapılmasını sağlama hedefi olan bir internet girişimidir.
            <br />
            Sosyalsorumluluk.org, sosyal sorumluluk projelerinin tanıtılmasına, Sosyal Sorumluluk haberlerini sunmaya, daha fazla kişiye ulaşmasına, projeler yapılmasını teşvik edecek ve bilinçlendirmeye devam edecek.
            <br />
            Bugün insanlık için, geleceğin için ne yaptın?
        
    </div>
</div>


