@model List<SocialResponsibility.Model.Entities.Project>
@{
    ViewBag.Title = "Index";
}



<div class="row">

    <div class="col-md-10">
        @foreach (var item in Model)
        {
            <div class="blog">
                <h3 class="page-header">
                    @item.ProjectName
                </h3>
                <p>
                    <span class="glyphicon glyphicon-time"></span>
                    @if (@item.AddedDate != null)
                    {
                        @item.AddedDate.ToShortDateString();

                    }
                </p>
                <hr />
                <img src="/Photos/@item.ImagePath"  height="300" width="600"/>
                <p>
                    
                </p>
               

                <a href="~/Home/detay?id=@item.ProjectId">Daha Fazla...</a>
                <hr />
                <hr/>
            </div>
        }
    </div>


    <div class="col-md-4">

    </div>
</div>

@*

        <div class="col-md-8 ">



            <div class="jumbotron text-center">
                <h1>My First Bootstrap Page</h1>
                <p>Resize this responsive page to see the effect!</p>
            </div>

            <div class="container">
                <div class="row">
                    <div class="offset-6 col-sm-8">
                        <h3>Column 1</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
                        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
                    </div>

                </div>
            </div>



    </div>*@
