<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Sosyal Sorumluluk</title>
    <!-- Bootstrap core CSS -->
    <link href="~/Content/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="~/Content/css/blog-home.css" rel="stylesheet">
</head>
<body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="/Home/Index/">Sosyal Sorumluluk</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/Home/Index/">
                            Anasayfa
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Home/Hakkimizda/">Hakkımızda</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/Home/Iletisim/">İletişim</a>
                    </li>
                    @if (User.Identity.IsAuthenticated)
                    {
                        if (HttpContext.Current.User.IsInRole("admin"))
                        {
                            <li class="nav-item">
                                <a class="btn btn-danger"> Editor Page</a>
                            </li>
                           
                            <li class="nav-item">
                                <a href="/Account/Logout" class="btn btn-danger">Çıkış Yap</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link">@HttpContext.Current.User.Identity.Name</a>
                            </li>

                        }
                        else
                        {
                            
                            <li class="nav-item">
                                <a href="/Account/Logout" class="btn btn-danger">Çıkış Yap</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link">@HttpContext.Current.User.Identity.Name</a>
                            </li>


                        }

                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="nav-link" href="/Account/Login">Giriş Yap</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Account/Register">Kayıt Ol</a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </nav>
    <!-- Page Content -->
    <div class="container">
        <div class="row">
            <!-- Blog Entries Column -->
            <div class="col-md-8">

                <!-- Blog Post -->
                @*Content*@

                @RenderBody()
                <!-- Pagination -->

            </div>
            <!-- Sidebar Widgets Column -->
            <div class="col-md-4 ">
                <!-- Search Widget -->
                @*<div class="card my-4">
            <h5 class="card-header">Ara</h5>
            <div class="card-body">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Buradan Ara...">
                    <span class="input-group-btn">
                        <button class="btn btn-secondary" type="button">ARA</button>
                    </span>
                </div>
            </div>
        </div>*@
                @*@Html.Partial("Search")*@
                


                <!-- Categories Widget -->
                <div class="card my-4">

                    @{
                        Html.RenderAction("CategoryPartial", "Home");
                    }
                </div>
            </div>

            <!-- Side Widget -->
            <div class=" offset-8 col-md-4">
                <!--
    <div class="card my-4">
        <h5 class="card-header">Side Widget</h5>
        <div class="card-body">
            You can put anything you want inside of these side widgets. They are easy to use, and feature the new Bootstrap 4 card containers!
        </div>
    </div>
        -->
            </div>
        </div>
    </div>
    <!-- /.row -->
                <!-- /.container -->
                <!-- Footer -->
                <footer class="py-5 bg-dark">
                    <div class="container">
                        <p class="m-0 text-center text-white">Copyright &copy; @DateTime.Now.Year</p>
                    </div>
                    <!-- /.container -->
                </footer>
                <!-- Bootstrap core JavaScript -->
                <script src="~/Content/vendor/jquery/jquery.min.js"></script>
                <script src="~/Content/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>
