@*@using (Html.BeginForm("List","Filter",FormMethod.Get)) {

    <div class="card my-4">
        <h5 class="card-header">Ara</h5>
        <hr />
        <div class="card-body">
            <div class="input-group">
               @Html.TextBox("AnahtarKelime",null,new {@class="form-control" })
                <div class="input-group">

                    <span class="input-group-btn">
                        <button class="btn btn-secondary" type="button">ARA</button>
                    </span>
                </div>
            </div>
        </div>
    </div>
    }*@
@using (Html.BeginForm("List", "Filter", FormMethod.Get))
{

    <div class="card my-4">
        <h5 class="card-header">Ara</h5>
       
            <div class="input-group">
                @Html.TextBox("AnahtarKelime", null, new { @class = "form-control" })
                
                    <span class="input-group-btn">
                        <button class="btn btn-secondary" type="button"> ARA
                           
                        </button>
                    </span>
                
            </div>
       
    </div>
}